@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
@*<SfCircularGauge>
    <CircularGaugeAxes>
        <CircularGaugeAxis Minimum="5" Maximum="250"  Radius="50%" StartAngle="0" EndAngle="360" HideIntersectingLabel=true>
            <CircularGaugeRanges>
                <CircularGaugeRange Position="PointerRangePosition."></CircularGaugeRange>
            </CircularGaugeRanges>
            <CircularGaugeAxisMajorTicks Interval="20" Color="red" Height="10" Width="3" Offset="10" Position="Position.Inside">
            </CircularGaugeAxisMajorTicks>
            <CircularGaugeAxisMinorTicks Interval="10" Color="green" Height="5" Width="2" Offset="5" Position="Position.Inside">
            </CircularGaugeAxisMinorTicks>
            <CircularGaugeAxisLineStyle Color="red" Width="2">
            </CircularGaugeAxisLineStyle>
            <CircularGaugeAxisLabelStyle AutoAngle=true Format="{value}"></CircularGaugeAxisLabelStyle>
        </CircularGaugeAxis>
    </CircularGaugeAxes>
</SfCircularGauge>*@
